fastapi[standart]~=0.121.0
aiogram~=2.25.1
aiosqlite
sqlalchemy~=2.0.45

pydantic~=2.12.4
dotenv~=0.9.9
python-dotenv~=1.0.1
aiofiles~=25.1.0
opencv-python~=4.12.0.88
pytesseract~=0.3.13
uvicorn~=0.38.0