body {
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  background: lch(72.77% 22.33 7.59);
  display: flex;
  justify-content: center;
}

.mobile-version {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: #ffe9ef;
}